﻿/* Search */
/* Fix for safari/ios */
input[type="search"] 
{
    -webkit-appearance: none;
}

.search, .search-bar
{
	width: 100%;
    position: relative;
	color: #DADADA;
    margin: 0 auto;
}

.search-bar .search-field
{
    text-align: left;
    width: 100%;
    height: 2em;
    padding-left: 10px;
    margin: 0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
    border: none;
    border-radius: 25px;
	font: inherit;
	background: #FFFFFF;
    color: #5F5F5F;
    position: relative;
}

    .search-bar .search-field::-webkit-search-cancel-button
    {
        display: none;
    }

.search-field::-ms-clear {
	display: none;
}

.search-bar .search-filter
{
	float: left;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	background: #5F5F5F;
	line-height: 2em;
	padding-right: 5px;
	cursor: pointer;
	height: 2em;
	width: 45px;
    background: #ffffff url('../Images/FilterOutline.png') no-repeat center center;
}

    .search-bar .search-filter.selected
    {
        background-image: url('../Images/Filter.png');
        background-repeat: no-repeat;
        background-position: center center;
    }
   
.search-bar .search-filter-wrapper.open
{
    background-repeat: no-repeat;
    background-position: center center;
}

.search-bar .search-filter-wrapper
{
	display: none;
	position: absolute;
    top: 0;
    right: 56px;
}

.search-filter-content
{
	display: none;
	-webkit-border-radius: 0 0 4px 4px;
	-moz-border-radius: 0 0 4px 4px;
	border-radius: 0 0 4px 4px;
	position: absolute;
	right: 0;
    top: 2em;
	line-height: normal;
	text-align: left;
	overflow: auto;
	z-index: 1;
    color: #888888;
	background-color: #ffffff;
    white-space: nowrap;
}

.search-filter-content ul
{
	list-style: none;
	margin: 0;
	padding: 6px;
}

.search-filter-content ul li
{
	padding: 5px;
    margin: 0;
}

.search-filter-content ul li:hover
{
	color: #000000;
	background-color: #ffffff;
}

.search-bar .search-submit-wrapper
{
	position: absolute;
    top: 0;
    right: 0;
	tooltip: Search;
}

.search-bar .search-submit
{
	width: 56px;
    height: 2em;
	border-top-right-radius: 25px;
	border-bottom-right-radius: 25px;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
	background: #bed230 url('../Images/SearchIcon.png') no-repeat center center;
	cursor: pointer;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

/* Menu Styles */
ul.menu.mc-component
{
    overflow-y: auto;
}

ul.menu a
{
    text-decoration: none;
    color: #000;
}

ul.menu, ul.menu ul, ul.menu li
{
    list-style: none;
    display: list-item;
    margin: 0;
}

    ul.menu, ul.menu ul, ul.menu li
    {
        padding: 0;
    }

ul.menu li > a
{
    display: block;
}

    ul.menu li > a.selected
    {
        font-weight: bold;
    }

/* Search Results Styles */
#results-heading
{
    margin-bottom: 20px;
}

#resultList
{
    padding-left: 0;
    margin: 0;
}
#resultList h3.title a
{
    text-decoration: none;
    font-weight: normal;
}

#resultList h3.title
{
    margin-bottom: 2px;
    line-height: 1.1em;
}

#resultList > li
{
    list-style: none;
    margin-bottom: 16px;
}

#resultList .glossary
{
    padding: 15px;
    margin-bottom: 25px;
    -webkit-box-shadow: 0px 1px 4px 0px #cccccc;
    -moz-box-shadow: 0px 1px 4px 0px #cccccc;
    box-shadow: 0px 1px 4px 0px #cccccc;
    line-height: normal;
}

#resultList .glossary .term
{
    margin-bottom: 10px;
    font-size: 1.5em;
}

#communityResultList
{
    margin: 0;
    padding: 0 0 0 20px;
    list-style-image: none;
    list-style-type: none;
    font-size: 0.9em;
}

    #communityResultList li
    {
        margin: 10px 0px;
    }

    #communityResultList a
    {
        text-decoration: none;
    }

        #communityResultList a:hover
        {
            text-decoration: underline;
        }

#resultList.communitySearch .title
{
    display: none;
}

#resultList.communitySearch #communityResultList
{
    padding: 0px;
}

.phrase-suggest
{
    display: block;
}

.search-result-highlight 
{
    font-weight: bold;
}

.activityInfo
{
    color: #666;
}

    .activityInfo a:link,
    .activityInfo a:visited
    {
        color: #666;
    }

a.activityText:link,
a.activityText:visited
{
    color: #000;
}

.activityTime
{
    font-style: italic;
    font-size: 11px;
    color: #999;
    margin-left: 3px;
}

#pagination
{
    height: 2.5em;
    line-height: 2.5em;
}

#pagination a
{
    min-width: 34px;
    cursor: pointer;
    border: solid 1px #fafafc;
    color: #0185D1;
    font-size: 1em;
    margin: 20px 5px;
    padding: 2px 8px;
    text-decoration: none;
}

#pagination a#selected 
{
    font-weight: bold;
    border-top: solid 1px #e2e2e6;
}

#pagination a:hover
{
    border-top: solid 1px #e2e2e6;
}

.micro-content-container > .micro-content
{
    padding: 15px;
    margin-bottom: 25px;
    -webkit-box-shadow: 0px 1px 4px 0px #cccccc;
    -moz-box-shadow: 0px 1px 4px 0px #cccccc;
    box-shadow: 0px 1px 4px 0px #cccccc;
    line-height: normal;
    overflow-y: auto;
}

.micro-content-container > .micro-content > .micro-response
{
    overflow: hidden;
    max-height: 200px;
}

.micro-content-container > .micro-content > .micro-content-expand
{
    height: 40px;
	width: 100%;
	background: #ffffff url('../Images/arrow-down.png') no-repeat center center;
	border-left: none;
	border-right: none;
    border-top: solid 1px #b9bec1;
    border-bottom: solid 1px #b9bec1;
    cursor: pointer;
}

.micro-content-container > .micro-content > .micro-content-expand.expanded
{
	background: #ffffff url('../Images/arrow-up.png') no-repeat center center;
}

.micro-content-container > .micro-content > .micro-content-expand-transition-wrapper
{
    position: relative;
    height: 0px;
    width: 100%;
}

.micro-content-container > .micro-content > .micro-content-expand-transition-wrapper > .micro-content-expand-transition
{
    position: absolute;
    bottom: 0px;   
    height: 50px;
    left: 0;
    right: 0;
    background: -moz-linear-gradient(top, transparent 0%, #ffffff 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,transparent), color-stop(100%,#ffffff));
    background: -webkit-linear-gradient(top, transparent 0%, #ffffff 100%);
    background: -o-linear-gradient(top, transparent 0%,#ffffff 100%);
    background: -ms-linear-gradient(top, transparent 0%,#ffffff 100%);
    background: linear-gradient(top, transparent 0%,#ffffff 100%);
    -pie-background: linear-gradient(transparent, #ffffff);
}

.micro-content-container > .micro-content > .micro-response-title
{
    font-size: 16px;
    font-weight: normal;
    margin: 10px 0 2px 0;
}

.micro-content-container > .micro-content > .micro-response-title a
{
    color: #0185D1;
    text-decoration: underline;
}

.micro-content-container > .micro-content > .micro-response-url cite
{
    color: #0E774A;
    font-size: 0.8em;
    font-style: normal;
}

.central-dropdown-proxy {
    cursor: pointer;
    position: relative;
    line-height: 25px;
    display: none;
}

.central-hosted .central-dropdown-proxy,
.skin-preview .central-dropdown-proxy {
    display: inline-block;
}

.central-dropdown-proxy-wrapper {
    display: block;
}

    .central-dropdown-proxy:after {
        content: ' ';
        display: block;
        position: absolute;
        height: 0;
        width: 0;
        border: 8px solid transparent;
        bottom: 0;
        left: 50%;
        border-bottom-color: #dadada;
        margin-left: -8px;
    }

.central-dropdown-proxy .central-account-drop {
    display: block;
    padding: 10px 0;
}

.central-dropdown-content {
    position: absolute;
    background-color: #dadada;
    width: 100px;
    text-align: center;
    line-height: 35px;
    -webkit-box-shadow: 0px 1px 4px 0px #cccccc;
    -moz-box-shadow: 0px 1px 4px 0px #cccccc;
    box-shadow: 0px 1px 4px 0px #cccccc;
}

.central-dropdown-content.central-dropdown-proxy-content {
    right: auto;
    left: auto;
}

    div.central-dropdown-content > a {
        display: block;
        text-decoration: none;
        color: #3d3d3d;
        font-size: 14px;
    }

        div.central-dropdown-content > a:hover {
            text-decoration: underline;
            cursor: pointer;
        }

.central-dropdown-proxy:after,
.central-dropdown-content {
    visibility: hidden;
    opacity: 0;
    position: absolute;
}

.central-dropdown-proxy.active:after,
.central-dropdown-proxy.active .central-dropdown-content,
.central-dropdown-proxy:hover:after,
.central-dropdown-proxy:hover .central-dropdown-content {
    visibility: visible;
    opacity: 1;
}

.central-account-image {
    background: transparent url('../Images/icon-user-gray.png') no-repeat center center;
    -pie-background: transparent url('Skins/Default/Stylesheets/Images/icon-user-light-gray.png') no-repeat center center;
    width: 16px;
    height: 16px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
    margin-right: 5px;
}

.central-account-text {
    font-size: 14px;
    color: #6C6C6C;
    text-decoration: none;
}

.central-account-text:after {
    content: "";
    border: solid 3px transparent;
    border-top-width: 6px;
    margin-left: 5px;
    width: 0;
    height: 0;
    border-top-color: #6C6C6C;
    display: inline-flex;
}

.central-separator {
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 0px;
    margin-top: 0px;
    width: auto;
    background-color: #A7A7A7;
    border: 0px;
    height: 1px;
}

.central-logout-link {
    cursor: pointer;
}

.central-display {
    display: inline-block !important;
}

.results-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 1em;
    color: #076685;
}

.results-status {
    display: block;
    font-size: 14px;
    font-weight: bold;
}

.results-status > div.failed {
    width: max-content;
    color: #fa4d55;
    border: solid 1px #fa4d55;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-right: 1em;
    padding-left: 1em;
    margin-bottom: 1em;
}

.results-status > div.passed {
    width: max-content;
    color: #4dba6e;
    border: solid 1px #4dba6e;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-right: 1em;
    padding-left: 1em;
    margin-bottom: 1em;
}

.results-score {
    font-size: 21px;
    font-weight: bold;
    margin-bottom: 1em;
    width: max-content;
    color: #45494C;
}

.results-question-wrapper {
    border-bottom: solid 3px #e1e1e1;
    padding-top: 2em;
    margin-bottom: 1em;
    font-size: 17px;
    color: #45494C;
}

.results-questions-block > div:last-of-type {
    border-bottom: none;
    margin-bottom: 0;
}

.results-question {
    margin-bottom: 1em;
}

.results-answer p, 
.results-question p,
.resultsQuestionFeedback p
{
    font-size: inherit;
    margin-top: inherit;
    margin-bottom: inherit;
}

.results-answer {
    margin-bottom: 1em;
    font-size: 14px;
}

.results-answer > div.answer-title {
    font-weight: bold;
    vertical-align: top;
}

.results-answer > div.answer-content {
    padding-top: 5px;
    padding-bottom: 10px;
}

.results-answer > div.answer-content > p:first-child {
    margin-top: 0;
}

.elearning-button {
    box-shadow: initial;
}

.elearning-button:disabled {
    opacity: initial;
}

.elearning-progress-wrapper {
    display: inline-block;
    padding-top: 2px;
    float: left;
}

.elearning-progress-text {
    font-size: 10px;
    padding-left: 5em;
    font-weight: bold;
    text-align: left;
    color: #076685;
}

.elearning-progress-bar {
    box-sizing: initial;
    border: 1px #ededed solid;
    border-radius: 0px;
    width: 200px;
    margin-left: 3em;
    margin-right: 3em;
    height: 5px;
    background-color: #e0e1e2;
    display: inline-block;
    overflow: hidden;
}

.elearning-progress-bar-inner {
    background-color: #076685;
    height: 100%;
}

.elearning-warning {
    color: #ffffff;
    padding: 0.5em;
    margin-bottom: 1em;
}

.elearning-incomplete-warning {
    color: #ff0000;
    background-color: transparent;
    border: solid 1px #ff0000;
    font-size: 14px;
    font-weight: bold;
    padding: 1.5em 1.5em 1em 1.5em;
}

.elearning-incomplete-warning ul {
    margin-top: 1em;
    margin-bottom: 1em;
    margin-right: 0;
    margin-left: 0;
    padding: 0;
    line-height: inherit;
}

.elearning-incomplete-warning li {
    border: none;
    background: none;
    list-style: none;
    margin: 0;
    padding: 0;
}

.elearning-incomplete-warning a {
    color: #45494C;
    font-weight: normal;
}

.elearning-maxed-attempts-warning {
    background: #404040;
    font-size: 14px;
}

.resultsQuestionFeedback {
    font-size: 14px;
    margin-bottom: 10px;
}

.resultsQuestionFeedback.correctFeedback {
    color: #4DBA6E;
}

.resultsQuestionFeedback.incorrectFeedback {
    color: #FA4D55;
}